body{
    user-select:none;
}

#fullCode{
    transition:opacity 1s;
    opacity:0;
    display:none;
}

/*Green nav*/
nav{
    position:fixed;
    left:0; top:0;
    width:100%; height:7em;
    background-color:#075e54;
    transition:top 0.2s, background 0.2s;
    box-shadow:0 0 8px black;
}

nav h3{
    color:white;
    position:absolute;
    left:2.5%;
}

nav #navigation *:active{
    background:rgba(250 , 250 , 250 , 0.1);
}

#navigation{
    position:absolute;
    display:flex;
    flex-direction:row;
    width:100%; height:auto;
    bottom:1vh; left:0;
    vertical-align:space-around;
    justify-content:space-around;
    color:#eeeeee;
}

#navigation *{
    display:flex;
    padding-right:1em;
    padding-left:1em;
    padding-top:3px;
}

#search{
    position:absolute;
    right:15vmin; top:15%;
    color:white;
}

#dots{
    font-size:2em;
    position:absolute;
    right:5vmin; top:-5%;
    color:white;
}

#dots::before{
    content:".";
    position:absolute;
    width:100%; height:100%;
    top:-20%;
}

#dots::after{
    content:".";
    position:absolute;
    width:100%; height:100%;
    top:20%; right:0;
}

#whiteBar{
    width:25%; height:2.5%;
    background-color:white;
    position:absolute;
    bottom:0; left:20%;
    transition:left 0.15s;
}

#settings{
    background-color:white;
    position:absolute;
    height:auto; width:48%;
    right:1vmin; top:1vmin;
    box-shadow:0 0 10px grey;
    transform:scale(0);
    transition:transform 0.35s , border-radius 0.35s;
    transform-origin:100% 5%;
    z-index:3;
    border-radius:0 0 0 50%;
}

#settings p{
    margin-left:10%;
    line-height:200%;
}

#settings p:active{
    color:#075e54;
}
/*end green nav*/

/*Chats*/
#others{
    position:fixed;
    top:7em; left:0;
    height:calc(100% - 7em);
    width:100%;
    background-color:#eeeeee;
    z-index:-1;
    overflow-y:scroll;
    transition:left 0.15s , top 0.2s;
}

.user{
    width:100%; height:6em;
    position:relative;
    background-color:white;
}

.user img{
    position:absolute;
    width:4em; height:4em;
    border-radius:50%;
    left:3vmin; top:1em;
}

.user h3{
    position:absolute;
    left:calc(4em + 3vmin);
}

.user p{
    position:absolute;
    left:calc(4.75em + 3vmin);
    color:grey;
    top:30%;
}

.user .line{
    width:calc(100% - 25vmin);
    height:1px;
    position:absolute;
    left:calc(4em + 3vmin);
    background-color:silver;
    bottom:0;
}

.user h5{
    position:absolute;
    right:5%;
    color:grey;
    top:5%;
}

.user:hover{
    background-color:#eee;
}

.user:active{
    background-color:#ddd;
}
/*End chats*/

/*The status*/
#status, #calls{
    width:100%;
    height:calc(100% - 7em);
    top:7em;
    position:fixed;
    transition:left 0.15s , top 0.2s;
    z-index:-1;
    overflow-y:scroll;
}

#status{
    background-color:#dddddd;
    left:100%;
    overflow:hidden;
}

#calls{
    left:200%;
    height:calc(100% - 3.5em);
}

#userEndless{
    top:0;
    height:100%;
}

#userEndless .line{
    left:0;
    width:100%;
}

#userEndless p{
    top:3em;
}

#status #recent{
    position:absolute;
    top:23%; left:3%;
}

#whiteBack{
    background-color:white;
    position:absolute;
    width:100%; height:72%;
    top:33%;
    border-top:1px solid grey;
}

#whiteBack img{
    width:100vmin;
    height:65vmin;
    position:absolute;
    top:5%; left:1%;
}
/*end status*/


/*Calls*/
#calls p{
    top:45%;
}

#greenCircle{
    width:3.5em; height:3.5em;
    right:5vmin; bottom:5vmin;
    position:fixed;
    border-radius:50%;
    transition:transform 0.1s;
    background:#0b0;
    box-shadow:0 1px 6px black;
    color:white;
    text-align:center;
}

#greenCircle i{
    font-size:1.5em;
    line-height:2em;
}

#greenCircle:active{
    transform:scale(0.85);
}

#calls .phoneImg{
    position:absolute;
    width:10vmin; height:16vmin;
    right:5%; left:85%; top:16%;
}
/*end calls*/

#Camera{
    background-color:black;
    width:100vw;
    height:calc(100% - 7em);
    position:fixed;
    left:-100%; top:7em;
    transition:left 0.2s;
    z-index:-1;
}

#Camera h3{
    color:white;
    text-align:center;
}

#searchDiv{
    background-color:white;
    position:absolute;
    width:100%; height:50%;
    left:0; top:50%;
    transform:scale(0);
    transition: transform 0.35s;
    transform-origin:85% 0;
    border-bottom:1px solid #aaaaaa;
}

#searchInp{
    position:absolute;
    outline:none;
    width:80%; height:95%;
    top:2.5%;
    left:calc(5vmin + 2em);
    border:none;
    font-size:125%;
}

#greenArrow{
    color:#075e54;
    top:calc(50% - 0.5em);
    left:5vmin;
    position:absolute;
    margin:0;
}

#type::after{
    content:"...";
    animation-iteration-count:infinite;
    animation-duration:2s;
    animation-name:type;
    animation-timing-function:linear;
}

@keyframes type{
    50%{
        letter-spacing:0.85vmin;
    }
}

#greenThing2{
    width:100%;
    height:4em;
    position:sticky;
    top:0;
    background-color:#075e54;
    z-index:2;
}

#settingsPage{
    width:100%; height:100%;
    top:0; left:100%;
    position:fixed;
    background-color:#efefef;
    transition:left 0.25s;
    overflow:scroll;
}

#realSettings{
    top:4.5em; left:0;
    width:100%; height:auto;
    position:absolute;
    overflow:scroll;
}

#greenThing2 pre{
    line-height:2.25em;
    font-size:120%;
    left:0;
    position:absolute;
    color:white;
    font-weight:bold;
}

#userProfile{
    position:absolute;
    width:60vmin; height:70vmin;
    top:50%; left:50%;
    transform:translate(-50% , -50%) scale(0);
    border:2px solid black;
    transition:transform 0.5s;
}

#userProfile #profile{
    width:100%; height:80%;
}

#downPath{
    position:absolute;
    width:100%; height:20%;
    top:80%; left:1%;
}

#loadingScreen{
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background:radial-gradient(white, #e5e5e5);
}

#loadingScreen img{
    position:absolute;
    width:6em; height:6em;
    left:50%; top:40%;
    transform:translate(-50% ,-50%);
}

#loadText{
    position:absolute;
    bottom:5%; left:50%;
    transform:translate(-50%);
    text-align:center;
    font-size:120%;
    color:grey;
    letter-spacing:1px;
}

#loadText span{
    color:#0b0;
    font-weight:bold;
    font-size:130%;
}

.fa-key, .mess, .fa-bell, .data, .helpI, .fa-user-friends{
    font-size:1.5em;
    top:1.5em;
    display:block;
    left:1.35em;
    position:absolute;
    color:#075e54;
    opacity:0.96;
}

.fa-key{
    transform:rotate(315deg);
}

#others::-webkit-scrollbar, #calls::-webkit-scrollbar, body::-webkit-scrollbar, #settingsPage::-webkit-scrollbar {
  display: none;
}

